@font-face { 
    font-family: 'BMEULJIRO'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; }

nav .navbar-brand {
    font-family: 'BMEULJIRO';
    margin: 0px 200px;
}
nav {
    border-bottom: 1px solid #D2D2D2;
}
body{
    background-color: white;
}
img {
    margin: 0px 5px;
}
.card {
    background-color: #efefef;
    width: 1000px;
    margin: 30px 25%;
}
.card .card-img-top {
    width: 99%;
    margin-top: 5px;
}


.row.row-cols-1.row-cols-md-3 {
    width: 1350px;
}
.row.row-cols-1.row-cols-md-3 .col.mb-4 {
    height: 470px;
}
.row.row-cols-1.row-cols-md-3 .card.h-100 .card-img-top {
    width:380px;
    height: 380px;
    margin: 10px 10px 0px 10px;
}
.row.row-cols-1.row-cols-md-3 .card.h-100 {
    width: 400px;
}
.li a {
    font-weight: bold;
    margin: 0px 45%;
    color: black;
}

.li a:hover {
    color: black;
    text-decoration: none;
}

.logincss {
    margin: 50px 35%;
    border: olive 1px solid;
    width: 500px;
    height: 500px;
    padding: 100px;
}
.logincss .btn.btn-primary {
    width: 300px;
}